body{
    font-family: cursive;
    background: url("https://wallpaperaccess.com/full/3214377.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
.content{
    float: left;
    margin-left: 100px;
    border: 2px;
    border-color: black;


}
.content2{
    float: right;
    margin-right: 200px;
}
.login1{
    height: 25px;
    width: 400px;
}
.login2{
    height: 25px;
    width: 400px;
}
hr{
    box-shadow: 3px 2px 1px back;

}
h2{
    box-shadow: 3px 2px 1px back;
}
h4{
    box-shadow: 3px 2px 1px back;
}


input{
    border-color: black;
    box-shadow: 1px 1px 1px back;
    border-style: none;
    color: white;
   
}

button{
    height: 30px;
    width: 100px;
    font-size: 20px;
    margin-top: 200px;
    border-style: none;
    border-radius: 10px;
    background-color: black;
    animation: card 1s  alternate infinite;
}
@keyframes card{
    0%{background-color: black;color: white;}
    100%{background-color: white;color: black;}
}

